nav {
    clear: both;
}

footer {
    clear: both;
}

section {
    clear: both;
}

table {
    border-collapse: collapse;
    background: #fff;
}

table, td, th {
    border: 1px solid #ccc;
}

th {
   white-space: nowrap;
   background-color: #eee;
}

thead.Compact tr th {
    padding: .2em;
    font-weight: normal;
}

hr, .Cleaner {
 clear: both;
 visibility: hidden;
}

.Hidden {
    display: none;
}

.Number, .Right {
    text-align: right;
}

.Left{
    text-align: left;
}

.RightCol {
    float: right;
}

.LeftCol{
    float: left;
}

.Center {
    text-align: center;
}

.NoWrap {
   white-space: nowrap;
}

.Small {
    font-size: 75%;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1em;
}

/* CHECKED */

.dataTables_wrapper .dataTables_processing {
    margin-left: -110px;
    width: 220px;
    height: 85px;
    z-index: 100;
    border: 1px solid #000;
    background-color: #fefefe;
}


table.dataTable tbody td {
  padding: 1px 3px;
}

table.dataTable tbody td a {
  color: #000;
}

.Number {
    text-align: right;
}

tr.Z10 td {
    background-color: #f99;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    color: #999;
    font-style: normal;
}

.editable-empty:hover, .editable-empty:focus {
    color: #f00;
}

.Raw {
    white-space: pre;
    font-family: monospace;
}

td.Opener span {
	width: 16px;
	height: 16px;
    display: block;
    float: left;
	background-image: url('/css/smoothness/images/ui-icons_888888_256x240.png');
    background-position: -32px 0;
}

td.Opened span {
	width: 16px;
	height: 16px;
    display: block;
    float: left;
	background-image: url('/css/smoothness/images/ui-icons_888888_256x240.png');
    background-position: -64px 0;
}

#customers_selectbox {
    float: right;
    margin: 5px 10px 0 0;
}
