label {
 font-weight: bold;
 display: block;
 margin-top: 0.5em;
}

.label {
    margin-top: 1em;
}

.checkboxgroup label {
 font-weight: normal;
 display: inline;
 margin-top: 0;
}

.checkboxgroup span {
 display: block;
}

form .error_message {
       display: block;
       color: #ff0000;
}

form .error input,
form .error textarea,
form .error select {
       background-color: #ffdddd;
}


/* customization */

fieldset {
    border: 1px solid #888;
    margin-bottom: 1em;
    padding: .5em;
}

legend {
}

form .submit {
    margin: 1em 0;
}

input, select {
    border: 1px solid #999;
}

fieldset.Hidden {
    border: none;
}

form .Left {
    float: left;
    margin-right: .5em;
}

form .Inline {
    margin: 0;
    float: left;
}

form label.Inline {
    float: none;
}

label.Inline  {
    margin: 0;
    display: inline;
}

form .constraint_required label:after {
    content: '*'
}

form .constraint_required input {
    border: 1px solid black;
    background-color: #d0e0ff;
}

form {
    text-align: left;
}
.radiogroup span {
    display: block;
}
.radiogroup label {
    display: inline;
    font-weight: normal;
}

input[disabled], input[readonly] {
    font-weight: bold;
    color: #333;
    background-color: #f1f1f1;
}

