body, div, form, hr, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body, p, td, li, div {
    font-family: 'verdana', sans-serif;
    font-size: 8pt;
}

body {
    padding: 0;
    background: #fff;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: #000;
    font-stretch: semi-condensed;
}

h2 {
    padding: 0;
    margin: 1em 0;
    font-size: 130%;
    text-align: left;
}

h3 {
    font-size: 120%;
    padding: 0;
    margin : .75em 0;
    font-weight: bold;
}

h4 {
    font-size: 120%;
}

header {
 height: 100px;
}

header h1, header h1 span {
 width: 300px; height: 100px;
 cursor: pointer;
}

header h1 {
 position: relative;
 top: 0; left: 0;
 margin: 0 0 0 0;
 overflow: hidden;
 float: left;
}

header h1 span {
 position: absolute;
 top: 0; left: 0;
 z-index: 1;
 background: url('/img/logo.png') no-repeat;
}

footer {
 clear: both;
 margin-top: 2em;
 font-size: 80%;
 text-align: center;
}

footer a {
 color: #000;
 text-decoration: none;
 font-weight: bold;
}

nav {
    margin: 1em 0;
    width: 100%;
    background-color: #595f81;
}

#All {
    background: #fff;
    width: 1000px;
    margin: 0px auto;
    text-align: left;
}


.Error {
   border: 1px solid red;
   background-color: #ffdddd;
   color: #f00;
}

.Alert {
   border: 1px solid #ff910e;
   background-color: #ffffcc;
   color: #ff910e;
}

div.Alert {
    margin: 1em 0;
    padding: 2em;
}

div.Error {
    margin: 1em 0;
    padding: 2em;
}

#UserInfo {
    float: right;
    text-align: right;
}

#UserInfo a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

#UserInfo a:hover {
    color: #f00;
    text-decoration: underline;
}


