@page {
    size: 210mm 297mm;
    margin: 10mm 10mm 10mm 15mm;
    padding: 0;
}

body, td, th, p, div, input, select, option {
    font-family: arial, sans-serif;
    font-size: 7pt;
}

h1 {
    font-size: 13pt;
}
h2 {
    font-size: 11pt;
}
h3 {
    font-size: 9pt;
}

a {
    color:black;
    text-decoration:none;
}

.NoPrint,
.ui-datepicker-trigger
 {
    display:none;
}

