[% IF subject == 'customer' %]
<dl>
<dt>Zákazník:</dt>
<dd>[% IF customer.deleted %][% customer.name %][% ELSE %]<a href="/customer/[% customer.id %]/">[% customer.name %]</a>[% END %]</dd>
</dl>
[% END %]

[% IF subject == 'user' %]
<dl>
<dt>Login:</dt>
<dd>[% IF user.deleted %][% user.login %][% ELSE %]<a href="/users/[% user.id %]">[% user.login %]</a>[% END %]</dd>
<dt>Zákazník:</dt>
<dd>[% IF customer.deleted %][% customer.name %][% ELSE %]<a href="/customer/[% customer.id %]/">[% customer.name %]</a>[% END %]</dd>
</dl>
[% END %]

[% IF subject == 'rr' %]
<dl>
<dt>Doména:</dt><dd>[% IF zone.deleted %][% zone.name %][% ELSE %]<a href="/zones/[% zone.id %]">[% zone.name %]</a>[% END %]</dd>
<dt>Záznamy:</dt>
[% FOR rr IN rrs %]
<dd>[% rr.name %] [% rr.type %]</dd>
 [% END %]
</dl>
[% END %]

[% IF subject == 'zone' %]
<dl>
<dt>Domény:</dt>
[% FOR zone IN zones %]
<dd>[% IF zone.deleted %][% zone.name %][% ELSE %]<a href="/zones/[% zone.id %]">[% zone.name %]</a>[% END %]</dd>
[% END %]
</dl>
[% END %]
