<div id="dialogDelete" title="Smazat záznamy?" class="DialogConfirm">
    <p>Pro potvrzení smazání zadejte své uživatelské jméno a potvrďte tlačítkem</p>
    <input type="text" id="ConfirmDeleteText" size="16">
</div>

