[% IF is_root OR is_admin %]
<p>
    [% FOREACH type IN ['A', 'AAAA', 'CNAME', 'DS', 'MX', 'NS', 'TXT', 'SRV', 'TLSA'] %]
<a href="#" id="add_[% type %]" class="Add">Nový [% type %]</a>
    [% END %]
</p>
[% END %]

<table id="RRs"></table>

[% IF is_root OR is_admin %]
<div id="DialogAdd" title="Přidat záznam"></div>

<p>
<input id="Delete" type="submit" value="Smazat" class="ActionButton" />
[% INCLUDE 'rrs/delete.tt2' %]
</p>
[% END %]

<script>

var selected;

$(document).ready(function() {

    var oList = $('#RRs').dataTable({
        "iDisplayLength" : 100,
        "aLengthMenu": [[100, 500, 1000], [100, 500, 1000]],
        "bProcessing"    : true,
        "bServerSide"    : true,
        "sAjaxSource"    : "/rrs/json/?zone_id=[% zone.id %]",
        "sServerMethod"  : "POST",
        "bFilter"        : true,
        "bDeferRender"   : true,
        "bJQueryUI"      : true,
        "sPaginationType": "full_numbers",
        "bStateSave"     : true,
[% IF is_root OR is_admin %]
        "aaSorting"      : [[ 1, "asc" ], [2, "desc"]],
[% ELSE %]
        "aaSorting"      : [[ 0, "asc" ], [1, "desc"]],
[% END %]

        "asStripeClasses" : [],

        "bDeferRender": true,

        "oLanguage": {
            "sUrl": "/dataTables/languages/cs.txt"
        },

        "aoColumns": [

[% IF is_root OR is_admin %]
            {
                 "mData"    : "id"
                ,"mRender"  : function ( data, type, full ) {
                    return '<span></span><input type="checkbox" value="' + full.id + '" name="id" />';
                }
                ,"sWidth"   : "1px"
                ,"bSortable": false
                ,"bSearchable" : false
                ,"sClass"   : "Center"
                ,"sTitle"    : '<input type="checkbox" class="CheckAll"></input>'
            },
[% END %]
            {
                "sTitle"  : "Jméno"
                ,"mData"    : "name_reverse"
                ,"sClass"   : "th Opener"
                ,"mRender"  : function ( data, type, full ) {
                    return '<span></span>' + full.name;
                }
            }
            ,{
                "sTitle"  : "Typ"
                ,"mData"    : "type_priority"
                ,"mRender"  : function ( data, type, full ) {
                    return full.type;
                }
                ,"sWidth"   : "2em"
                ,"bSearchable" : false
            }
            ,{
                "sTitle"   : "TTL"
                ,"mData"    : "ttl"
                ,"sType"   : "numeric"
                ,"sWidth"  : "1em"
                ,"sClass"  : "Number"
                ,"bSortable" : false
                ,"bSearchable" : false
                ,"mRender"  : function ( data, type, full ) {
                    if ( full.state == 0 ) {
                        return '<span class="AJAX" data-type="text" data-pk="' + full.id + '" data-name="ttl">' + full.ttl + '</span>';
                    }
                    else {
                        return data;
                    }
                }
            }
            ,{
                "sTitle"   : "Priorita"
                ,"mData"    : "preference"
                ,"sType"   : "numeric"
                ,"sWidth"  : "1em"
                ,"sClass"  : "Number"
                ,"bSortable" : false
                ,"mData"    : "preference"
                ,"bSearchable" : false
                ,"mRender"  : function ( data, type, full ) {
                    if ( full.type == 'SRV' ||  full.type == 'MX') {
                        if ( full.state == 0 ) {
                            return '<span class="AJAX" data-type="text" data-pk="' + full.id + '" data-name="preference">' + full.preference + '</span>';
                        }
                        else {
                            return data;
                        }
                    }
                    else {
                        return '';
                    }
                }
            }
            ,{
                "sTitle"   : "Váha"
                ,"mData"    : "weight"
                ,"sType"    : "numeric"
                ,"sWidth"   : "1em"
                ,"sClass"   : "Number"
                ,"bSortable" : false
                ,"bSearchable" : false
                ,"mRender"  : function ( data, type, full ) {
                    if ( full.type == 'SRV' ) {
                        if ( full.state == 0 ) {
                            return '<span class="AJAX" data-type="text" data-pk="' + full.id + '" data-name="weight">' + full.weight + '</span>';
                        }
                        else {
                            return data;
                        }
                    }
                    else {
                        return '';
                    }
                }
            }
            ,{
                "sTitle"    : "Port"
                ,"mData"    : "port"
                ,"sType"    : "numeric"
                ,"sWidth"   : "1em"
                ,"sClass"   : "Number"
                ,"bSortable" : false
                ,"bSearchable" : false
                ,"mRender"  : function ( data, type, full ) {
                    if ( full.type == 'SRV') {
                        if ( full.state == 0 ) {
                            return '<span class="AJAX" data-type="text" data-pk="' + full.id + '" data-name="port">' + full.port + '</span>';
                        }
                        else {
                            return data;
                        }
                    }
                    else {
                        return '';
                    }
                }
            }
            ,{
                "sTitle"    : "Hodnota"
                ,"mData"    : "value"
                ,"bSortable" : false
                ,"mRender"  : function ( data, type, full ) {
                    if ( full.state == 0 ) {
                        return '<span class="AJAX" data-type="text" data-pk="' + full.id + '" data-name="value">' + full.value + '</span>';
                    }
                    else {
                        return data;
                    }
                }
            }
        ]

        ,"fnDrawCallback": function( oSettings ) {
[% IF is_root OR is_admin %]
             $('.AJAX').editable(
                {
                    url: '/rrs/save/'
                    ,success: function(response, newValue) {
                        if(response.error) return response.error;
                    }
                }
            );


//            var checkboxes = $("input[type='checkbox']");

        [% INCLUDE 'rrs/checkboxes.js.tt2' %]
[% END %]
        [% INCLUDE 'rrs/detail.js.tt2' %]
        }
    });

[% IF is_root OR is_admin%]
[% INCLUDE 'rrs/add.js.tt2' %]
[% INCLUDE 'rrs/delete.js.tt2' %]
[% END %]


});
</script>

