<p><a href="#" id="add_ksk" class="Add">Nový KSK</a></p>
<div id="DialogAdd" title="Přidat KSK"></div>


<table id="ListKeys"></table>

<script>

var dtKeys;

$(document).ready(function() {

    $( "#DialogAdd" ).dialog({
        width:     600,
        modal:     true,
        autoOpen:  false,
        position:  ['center', 100],
    });

    $( ".Add" ).button({
        })
        .click(
            function(e) {
                $( "#DialogAdd" ).load( "/dnssec/add_ksk/" );
                $( "#DialogAdd" ).dialog( "open" );
            }
        );

    dtKeys = $('#ListKeys').dataTable({
        "iDisplayLength" : 1000,
        "bProcessing"    : true,
        "bServerSide"    : true,
        "bFilter"        : false,
        "bSort"          : false,
        "sAjaxSource"    : "/dnssec/keys/?type=ksk",
        "sServerMethod"  : "POST",
        "bDeferRender"   : true,
        "bJQueryUI"      : true,
        "sPaginationType": "full_numbers",
        "bStateSave"     : true,
        "sDom"           : 'rt',

        "asStripeClasses" : [],

        "bDeferRender": true,

        "oLanguage": {
            "sUrl": "/dataTables/languages/cs.txt"
        },

        "aoColumns": [

            {
                "sTitle"     : "ID"
                ,"mData"     : "id"
                ,"sType"     : "string"
                ,"sClass"   : "th Opener"
                ,"mRender"  : function ( data, type, full ) {
                    return '<span></span>' + data;
                }
            },
            {
                "sTitle"     : "TLD"
                ,"mData"     : "name"
            },
            {
                "sTitle"   : "Algoritmus"
                ,"mData"    : "algorithm"
            },
            {
                "sTitle"   : "Delka"
                ,"mData"    : "keysize"
            },
            {
                "sTitle"   : "Platnost od"
                ,"mData"    : "activate"
            },
            {
                "sTitle"   : "Doporučená rotace"
                ,"mData"    : "expire"
                ,"mRender"  : function ( data, type, full ) {
                    if ( full.is_expired) {
                        return '<span class="Error">' + data + '</span>';
                    }
                    else {
                        return data;
                    }
                }
            },
            {
                "sTitle"   : "Platnost do"
                ,"mData"    : "delete"
                ,"mRender"  : function ( data, type, full ) {
                    return '<span class="SetDelete" data-type="date" data-pk="' + full.id + '" data-name="value">' + data + '</span>';
                }
            },
        ]
        ,"fnDrawCallback": function( oSettings ) {
            $("td.th").click(function() {
                var nTr = $(this).parents('tr')[0];

                if ( dtKeys.fnIsOpen(nTr) ) {
                    $(this).removeClass('Opened');
                    $(this).addClass('Opener');
                    dtKeys.fnClose( nTr );
                }
                else {
                    $(this).removeClass('Opener');
                    $(this).addClass('Opened');

                    var request = $.ajax('/dnssec/ksk_info/?id=' + nTr.getAttribute('id'));

                    request.done(function(content) {
                        dtKeys.fnOpen( nTr, content, 'Detail' );
                    });

                }


            });

            // http://vitalets.github.io/x-editable/docs.html#dateui

            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);

            $('.SetDelete').editable(
                 {
                    emptytext: 'Nastavit',
                    format: 'yyyy-mm-dd',
                    viewformat: 'yyyy-mm-dd',
                    url: '/dnssec/ksk_delete/',
                    datepicker: {
                        minDate: tomorrow
                    },
                    success: function(response, newValue) {
                        if(response.error) return response.error;
                    },
                    error: function(response, newValue) {
                        if(response.status === 409) {
                            return "Deaktivace klíče není povolena";
                        }
                    }
                }
            );

        }

    });

});
</script>
